<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Nuclear Family
        </title>
    </head>

    <body>
        <main>
            <p>
                <%= description %>
            </p>
        </main>
    </body>
</html>